/* General*/
h1 {
    display: inline;
}

img {
    vertical-align:middle;
    height: 80px;
}

/* Nav bar */
.navbar-brand img{
    height: 30px;
}

body {
  background-color: lightblue;
}

/* Recipes */
.recipe-instruction {
    vertical-align: middle;
    margin: auto;
    width: 50%;
    text-align: center;
}

.recipe-instruction img, .recipe-instruction h1 {
margin: 3% 2%;
}


.recipe-ingredients {
text-align: center;
}