{% extends "base.html" %}

{% block content %}
<div class="row">
  {% for recipe in recipes[meal] %}
  <div class="col-sm-3">
    <div class="card" style="width: 18rem;">
      <img src="{{ url_for('static',filename='images/' + recipes[meal][recipe]['main_image'] + '.png') | safe }}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ recipe }}</h5>
        <p class="card-text"> {{ recipes[meal][recipe]['description'] }}</p>
        <a href="{{ url_for('recipe',meal=meal, name=recipe) }}" class="btn btn-primary">Make</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}