{% extends "base.html" %}
{% from "macros.html" import recipe_section with context %}

{% block head %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">
        {% block styles %}
            {{ super() }}
        {% endblock %}
{% endblock %}

{% block content %}
<!-- recipe section 1-->
{% for section in recipes[meal][name]['sections'] %}
{{ recipe_section(section['image'],section['instruction'],section['ingredients']) }}
{% endfor %}

<div>Icons made by
        <a href="https://www.flaticon.com/authors/juicy-fish" title="juicy_fish">juicy_fish, </a>
        <a href="https://www.flaticon.com/authors/rikas-dzihab" title="RIkas Dzihab">RIkas Dzihab, </a>
        <a href="https://www.flaticon.com/authors/photo3idea-studio" title="photo3idea_studio">photo3idea_studio, </a>
        <a href="https://www.flaticon.com/authors/icongeek26" title="Icongeek26">Icongeek26, </a>
        <a href="https://www.freepik.com" title="Freepik">Freepik, </a>
        <a href="https://www.flaticon.com/authors/surang" title="surang">surang, </a>
        <a href="https://www.flaticon.com/authors/mangsaabguru" title="mangsaabguru">mangsaabguru, </a>
        from
        <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
{% endblock %}